<!-- <p>question works!</p>
<div class="col-md question_block">
    <button type="submit">{{ content }}</button>
    <input type="submit" name="question_1" [value]="{{ content }}" placeholder="category 1 100 points"  />
</div> -->
<div class="row">
    <div class="col-md question_block">
        <button type="submit" name="question_1" value="" placeholder="category 1 100 points" ></button>
    </div>
    <div class="col-md question_block">
        <input type="text" name="question_2" value="" placeholder="category 1 200 points" />
    </div>
    <div class="col-md question_block">
        <input type="text" name="question_3" value="" placeholder="category 1 300 points" />
    </div>
    <div class="col-md question_block">
        <input type="text" name="question_4" value="" placeholder="category 1 400 points" />
    </div>
    <div class="col-md question_block">
        <input type="text" name="question_5" value="" placeholder="category 1 500 points" />
    </div>
</div>