body { 
    background-color: lavender;
    padding:0; 
    margin:0;
}

.custom-nav { 
    background-color: rgb(12, 14, 25);
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding-bottom: .5%;
}

.custom-col {
    text-align: center;
    padding: 5%;
}

.col-border { 
    border-right: 10px black;
}