.description{
  left:0%;
  right: 0%;
  transform: translateY(40%);
  position: relative;
  text-align: center;
}

.overlay{
  position: absolute;
  min-height: 35%;
  min-width: 100%;
  left:0;
  right: 0;
  background: rgba(213, 222, 222, 0.7)
}
/* body{
  color: ivory;
} */

.page-footer{
  padding: 24px;
  background: black;
  color: grey;
}